<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <h2>
      <%= theme.index_title %>
    </h2>
    <!-- <p><%= theme.info %></p> -->
    <!-- <p><%= theme.desc %></p> -->
    <p>
      I'm Ryan, a third-year physics and computer science student at the University of Waterloo. I'm interested in
      software engineering, computational physics, high-performance computing, venture capital, and startups. In my free
      time, I enjoy coding, reading, watching documentaries, and taking walks in the park.
    </p>
    <p>
      This Fall, I'm interning as a software engineer at <a href="https://www.questrade.com/">Questrade</a> and work on physics simulation research at night.
      I'm also the software lead for at my university's solar car design team, <a href="https://www.uwmidsun.com/">Midnight Sun</a>.
    </p>
    <p>
      Feel free to reach out to me on <a href="https://www.linkedin.com/in/ryanlam285/">LinkedIn</a>! I'm currently
      seeking co-op/internship opportunities for Summer 2024.
    </p>
  </div>
</div>

<!-- <h3>Recent Projects</h3>
<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">
  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %> -->

<!-- <h3> <a href="<%= config.root %>archives">View My Resume</a></h3> -->
<!-- <h3> <a href="resume.pdf" target="_blank">View My Resume</a></h3> -->
