<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <h2 class="mb-2"><%= theme.index_title %></h2>
    <!-- <p><%= theme.info %></p> -->
    <!-- <p><%= theme.desc %></p> -->
    <p>
      I'm Ryan, a second-year physics and computing co-op student at the University of Waterloo. 
      I'm interested in software engineering, machine learning, computational physics, data science, and startups. 
      In my free time, I enjoy coding, gaming, reading, watching documentaries, and taking walks in the park.
    </p>
    <p>
      This Fall, I'm interning at <a href="https://www.epochapp.com/">Epoch</a> as a software engineer and working on
      route modeling at my school's <a href="https://www.uwmidsun.com/">Midnight Sun</a> (solar car) design team.
    </p>
    <p>
      Feel free to reach out to me on <a href="https://www.linkedin.com/in/ryanlam285/">LinkedIn</a>! I'm currently seeking co-op/internship opportunities for Summer 2023.
    </p>
  </div>
</div>

<!-- <h3>Recent Projects</h3>
<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">
  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %> -->

<!-- <h3> <a href="<%= config.root %>archives">View My Resume</a></h3> -->
<h3> <a href="resume.pdf" target="_blank">View My Resume</a></h3>